# WordPress Core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Config y uploads  
wp-config.php
.htaccess
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/

# Plugins (excepto los custom)
/wp-content/plugins/*
!/wp-content/plugins/mi-plugin-custom/

# Temas (excepto el custom)
/wp-content/themes/*
!/wp-content/themes/mi-tema-custom/

# Local by Flywheel
/app/
/logs/
/conf/
*.sql

# Misc
*.log
.DS_Store
node_modules/
