# WordPress core
wp-admin/
wp-includes/
wp-config.php
*.log

# Contenido
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/

# Plugins (excepto los custom)
wp-content/plugins/*
!wp-content/plugins/mi-plugin-custom/

# Temas (excepto el tuyo)
wp-content/themes/twenty*/

# Local by Flywheel
app/
logs/
conf/

# Sistema
.DS_Store
Thumbs.db
node_modules/
